services:
  access-governance-bot:
    build:
      context: ..
      dockerfile: ./deployments/Dockerfile
    restart: on-failure:5
    env_file:
      - ../.env
    ports:
      - 8080:8080
    depends_on:
      - database

  database:
    image: postgres:15.3
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - 5432:5432