services:
  access-governance-bot:
    build:
      context: ..
      dockerfile: ./deployments/access_governance_bot/Dockerfile
    restart: on-failure:5
    env_file:
      - ../.env
    ports:
      - 8080:8080
    depends_on:
      - database

  proposal-state-service:
    build:
      context: ..
      dockerfile: ./deployments/proposal_state_service/Dockerfile
    env_file:
      - ../.env
    ports:
      - 8080:8080
    depends_on:
      - database

  authorization-bot-telegram:
    build:
      context: ..
      dockerfile: ./deployments/authorization_bot/telegram/Dockerfile
    restart: on-failure:5
    env_file:
      - ../.env
    ports:
      - 8080:8080
    depends_on:
      - authorization-bot-discord
      - database

  authorization-bot-discord:
    build:
      context: ..
      dockerfile: ./deployments/authorization_bot/discord/Dockerfile
    restart: on-failure:5
    env_file:
      - ../.env
    ports:
      - 8081:8081

  database:
    image: postgres:15.3
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - 5432:5432