name: Docker Image CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./deployments/Dockerfile
          build-args: |
            ENVIRONMENT=${{ vars.ENVIRONMENT }}
            COMMUNITY_NAME=${{ vars.COMMUNITY_NAME }}
            INITIAL_SEEDERS=${{ vars.INITIAL_SEEDERS }}
            RENOMINATION_PERIOD_DAYS=${{ vars.RENOMINATION_PERIOD_DAYS }}
            VOTING_DURATION_DAYS=${{ vars.VOTING_DURATION_DAYS }}
            LOKI_URL=${{ secrets.LOKI_URL }}
            DB_URL=${{ secrets.DB_URL }}
            TELEGRAM_ACCESS_GOVERNANCE_BOT_TOKEN=${{ secrets.TELEGRAM_ACCESS_GOVERNANCE_BOT_TOKEN }}
          push: true
          tags: ghcr.io/beniamiiin/access-governance-system:latest
